.city-switcher-btn {
  border: none;
  outline: none;
  padding: 20px 25px;
  font-size: 28px;
  font-family: 'Comfortaa',cursive;
  text-transform: capitalize;
  width: 100%;
  background-color: #f75252b6;
  backdrop-filter: blur(3px);
  transition: all ease 0.5s;
  color: rgb(10, 68, 2);

  &:hover {
    background-color: #c0e6b4ad;
  }

  &:active {
    background-color: #b2f19fcc;
  }
}